/**
 * Coolors.co palette: https://coolors.co/3a8c92-bf8b85-ad8a64-5d5f71-616553
 * 454754 coral: #5D5F71, darker: #454754
 * Ebony: #616553
 * Camel: #AD8A64
 * Rosy brown: #BF8B85
 * Viridian blue: #3A8C92
**/

body {
    font-family: 'Barlow', sans-serif;
    background: white;
}

section {
    width: 75vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, input {
    padding: 15px 20px;
    margin: 0;
    font-family: 'Barlow', serif;
}

input:focus {
    outline: none;
}

button:focus,
button:hover {
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5D5F71;
    opacity: 0.8; /* Firefox */
}

input.primary,
button.primary {
    border: 2px solid #5D5F71;
}

button.primary {
    background: #5D5F71;
    color: white;
}

input.primary:focus,
button.primary:focus,
button.primary:hover {
    border-color: #454754;
}

button.primary:focus,
button.primary:hover {
    background: #454754;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    display: inline-block;
    width: calc(50% - 20px);
    min-width: 250px;
    margin: 0 20px;
}

.col:first-child {
    margin-left: 0;
}

.col:last-child {
    margin-right: 0;
}

.image-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col img {
    width: 100%;
    margin: 25px 0;
}

.title {
    font-size: 3rem;
}

.heading {
    color: #5D5F71;
}

.description {
    color: #5D5F71;
    opacity: 0.8;
}

.bottom-text {
    text-align: center;
    font-size: 0.9rem;
    color: #5D5F71;
    opacity: 0.8;
    min-width: 250px;
    margin: 0 auto;
}

@media only screen and (max-width: 720px) {
    .bottom-text {
        width: calc(50% - 20px);
    }
}

.subscribe {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.subscribe button {
    text-transform: uppercase;
}
